body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
#counter {
    font-size: 5rem;
    text-align: center;
}
